# Module 1 Homework: Docker & SQL

In this homework we'll prepare the environment and practice
Docker and SQL

When submitting your homework, you will also need to include
a link to your GitHub repository or other public code-hosting
site.

This repository should contain the code for solving the homework. 

When your solution has SQL or shell commands and not code
(e.g. python files) file format, include them directly in
the README file of your repository.



## Submitting the solutions

* Form for submitting: https://courses.datatalks.club/de-zoomcamp-2025/homework/hw1


## Question 1. Understanding docker first run 

Run docker with the `python:3.12.8` image in an interactive mode, use the entrypoint `bash`.

What's the version of `pip` in the image?

- 24.3.1
- 24.2.1
- 23.3.1
- 23.2.1

### Answer: 
The command I use to run the docker meet requirement is docker run -it --entrypoint bash python:3.12.8. I then use pip --version to check pip version and get the answer pip 24.3.1. So the answer is first one.

## Question 2. Understanding Docker networking and docker-compose

Given the following `docker-compose.yaml`, what is the `hostname` and `port` that **pgadmin** should use to connect to the postgres database?

```yaml
services:
  db:
    container_name: postgres
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_DB: 'ny_taxi'
    ports:
      - '5433:5432'
    volumes:
      - vol-pgdata:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: "pgadmin@pgadmin.com"
      PGADMIN_DEFAULT_PASSWORD: "pgadmin"
    ports:
      - "8080:80"
    volumes:
      - vol-pgadmin_data:/var/lib/pgadmin  

volumes:
  vol-pgdata:
    name: vol-pgdata
  vol-pgadmin_data:
    name: vol-pgadmin_data
```

- postgres:5433
- localhost:5432
- db:5433
- postgres:5432
- db:5432

If there are more than one answers, select only one of them


### Answer: 
Based on the yaml file, 
hostname: db as db is the name for postgres service
port: 5432 as the ports section in the db service maps port 5433 on the host machine to port 5432 inside the container.

So, the correct answer is:
db:5432


##  Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from October 2019:

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
```

You will also need the dataset with zones:

```bash
wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
```

Download this data and put it into Postgres.

You can use the code from the course. It's up to you whether
you want to use Jupyter or a python script.

## Question 3. Trip Segmentation Count

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, **respectively**, happened:
1. Up to 1 mile
2. In between 1 (exclusive) and 3 miles (inclusive),
3. In between 3 (exclusive) and 7 miles (inclusive),
4. In between 7 (exclusive) and 10 miles (inclusive),
5. Over 10 miles 

Answers:

- 104,802;  197,670;  110,612;  27,831;  35,281
- 104,802;  198,924;  109,603;  27,678;  35,189
- 104,793;  201,407;  110,612;  27,831;  35,281
- 104,793;  202,661;  109,603;  27,678;  35,189
- 104,838;  199,013;  109,645;  27,688;  35,202

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [5]:
df_green_trip = pd.read_csv("2_docker_sql/green_tripdata_2019-10.csv.gz")
df_green_trip.to_sql(name='green_trip', con=engine, if_exists='replace')
df_zones = pd.read_csv("2_docker_sql/taxi_zone_lookup.csv")
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

/tmp/ipykernel_2150/3055058341.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green_trip = pd.read_csv("2_docker_sql/green_tripdata_2019-10.csv.gz")

265

In [7]:
query = """
SELECT * FROM green_trip LIMIT 3
"""

pd.read_sql(query, con=engine)

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,...,0.50,0.5,0.0,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,...,3.25,0.5,0.0,0.0,None,0.3,9.05,2.0,1.0,0.0
2,2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,...,0.50,0.5,0.0,0.0,None,0.3,22.80,2.0,1.0,0.0

In [8]:
query2 = """

SELECT 
    SUM(CASE WHEN trip_distance <= 1 THEN 1 ELSE 0 END) AS trips_up_to_1_mile,
    SUM(CASE WHEN trip_distance > 1 AND trip_distance <= 3 THEN 1 ELSE 0 END) AS trips_between_1_and_3_miles,
    SUM(CASE WHEN trip_distance > 3 AND trip_distance <= 7 THEN 1 ELSE 0 END) AS trips_between_3_and_7_miles,
    SUM(CASE WHEN trip_distance > 7 AND trip_distance <= 10 THEN 1 ELSE 0 END) AS trips_between_7_and_10_miles,
    SUM(CASE WHEN trip_distance > 10 THEN 1 ELSE 0 END) AS trips_over_10_miles
FROM green_trip
WHERE 
    lpep_pickup_datetime >= '2019-10-01' AND 
    lpep_dropoff_datetime < '2019-11-01';

"""

pd.read_sql(query2, con=engine)

,trips_up_to_1_mile,trips_between_1_and_3_miles,trips_between_3_and_7_miles,trips_between_7_and_10_miles,trips_over_10_miles
0,104802,198924,109603,27678,35189

### Answer:
Answer will be second choose. 
- 104,802;  198,924;  109,603;  27,678;  35,189


## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance. 

- 2019-10-11
- 2019-10-24
- 2019-10-26
- 2019-10-31

In [9]:
query3 = """


WITH daily_longest_trip AS (
SELECT 
DATE(lpep_pickup_datetime) AS pickup_date,
MAX(trip_distance) AS max_distance
FROM green_trip
GROUP BY DATE(lpep_pickup_datetime)
)

SELECT 
pickup_date
FROM daily_longest_trip
ORDER BY max_distance DESC
LIMIT 1;

"""

pd.read_sql(query3, con=engine)

  pickup_date
0  2019-10-31

### Answer: 
2019-10-31


## Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

Consider only `lpep_pickup_datetime` when filtering by date.
 
- East Harlem North, East Harlem South, Morningside Heights
- East Harlem North, Morningside Heights
- Morningside Heights, Astoria Park, East Harlem South
- Bedford, East Harlem North, Astoria Park

In [10]:
query4 = """

WITH filtered_trips AS (
    SELECT 
        "PULocationID",
        SUM("total_amount") AS total_amount
    FROM green_trip
    WHERE DATE("lpep_pickup_datetime") = '2019-10-18'
    GROUP BY "PULocationID"
    HAVING SUM("total_amount") > 13000
)
SELECT 
    l."Zone" AS pickup_location,
    f.total_amount
FROM filtered_trips f
JOIN zones l
ON f."PULocationID" = l."LocationID"
ORDER BY f.total_amount DESC;


"""

pd.read_sql(query4, con=engine)

       pickup_location  total_amount
0    East Harlem North      18686.68
1    East Harlem South      16797.26
2  Morningside Heights      13029.79

### Asnwer: 

East Harlem North, East Harlem South, Morningside Heights


## Question 6. Largest tip

For the passengers picked up in October 2019 in the zone
named "East Harlem North" which was the drop off zone that had
the largest tip?

Note: it's `tip` , not `trip`

We need the name of the zone, not the ID.

- Yorkville West
- JFK Airport
- East Harlem North
- East Harlem South

In [11]:
query5 = """
WITH pickup_trips AS (
    SELECT 
        t.*,
        z."Zone" AS pickup_zone
    FROM green_trip t
    JOIN zones z
    ON t."PULocationID" = z."LocationID"
    WHERE z."Zone" = 'East Harlem North' 
      AND DATE(t."lpep_pickup_datetime") BETWEEN '2019-10-01' AND '2019-10-31'
)
SELECT 
    d."Zone" AS dropoff_zone,
    MAX(p."tip_amount") AS largest_tip
FROM pickup_trips p
JOIN zones d
ON p."DOLocationID" = d."LocationID"
GROUP BY d."Zone"
ORDER BY largest_tip DESC
LIMIT 1;

"""

pd.read_sql(query5, con = engine)

  dropoff_zone  largest_tip
0  JFK Airport         87.3

### Answer: 

JFK Airport

## Terraform

In this section homework we'll prepare the environment by creating resources in GCP with Terraform.

In your VM on GCP/Laptop/GitHub Codespace install Terraform. 
Copy the files from the course repo
[here](../../../01-docker-terraform/1_terraform_gcp/terraform) to your VM/Laptop/GitHub Codespace.

Modify the files as necessary to create a GCP Bucket and Big Query Dataset.


## Question 7. Terraform Workflow

Which of the following sequences, **respectively**, describes the workflow for: 
1. Downloading the provider plugins and setting up backend,
2. Generating proposed changes and auto-executing the plan
3. Remove all resources managed by terraform`

Answers:
- terraform import, terraform apply -y, terraform destroy
- teraform init, terraform plan -auto-apply, terraform rm
- terraform init, terraform run -auto-approve, terraform destroy
- terraform init, terraform apply -auto-approve, terraform destroy
- terraform import, terraform apply -y, terraform rm

### Correct Answer:  
**`terraform init, terraform apply -auto-approve, terraform destroy`**

---

### Explanation:  
1. **`terraform init`**:  
   - Downloads the required provider plugins.  
   - Sets up the backend for storing Terraform state.  
   - This is always the first step in the Terraform workflow.

2. **`terraform apply -auto-approve`**:  
   - Applies the configuration and creates/updates resources.  
   - The `-auto-approve` flag automatically approves the plan without manual confirmation.

3. **`terraform destroy`**:  
   - Removes all resources managed by Terraform.  
   - Ensures a clean environment by deleting infrastructure created during the apply step.

---

### Why Other Answers Are Incorrect:  

- **`terraform import, terraform apply -y, terraform destroy`**:  
   - `terraform import` is used to bring existing resources under Terraform management, not for setting up or applying configurations.

- **`terraform init, terraform plan -auto-apply, terraform destroy`**:  
   - `terraform plan` cannot apply changes automatically; it only generates a plan for review.

- **`terraform init, terraform run -auto-approve, terraform destroy`**:  
   - `terraform run` is not a valid Terraform command.

- **`terraform import, terraform apply -y, terraform rm`**:  
   - `terraform rm` is not a valid Terraform command.