## Module 1 Homework

## Docker & SQL

In this homework we'll prepare the environment 
and practice with Docker and SQL

## Question 1. Knowing docker tags

### Answer 1 `--rm`

Run the command to get information on Docker 

```docker --help```

Now run the command to get help on the "docker build" command:

```docker build --help```

Do the same for "docker run".

Which tag has the following text? - *Automatically remove the container when it exits* 

- `--delete`
- `--rc`
- `--rmc`
- `--rm`

## Question 2. Understanding docker first run 

### Answer 2 `wheel      0.42.0`

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash.
Now check the python modules that are installed ( use ```pip list``` ). 

What is version of the package *wheel* ?

- 0.42.0
- 1.0.0
- 23.0.1
- 58.1.0

```bash
docker run -it python:3.9

pip list
Package    Version
---------- -------
pip        23.0.1
setuptools 58.1.0
wheel      0.42.0
```

## Prepare Postgres

Run Postgres and load data as shown in the videos
We'll use the green taxi trips from September 2019:

```wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz```

You will also need the dataset with zones:

```wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv```

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [ ]:
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

# create conn string
conn_string = 'postgresql://root:root@localhost:5432/ny_taxi'
engine = create_engine(conn_string)
engine.connect()

In [2]:
pd.__version__

'2.1.4'

In [ ]:
# test load 100 rows
df = pd.read_csv('green_tripdata_2019-09.csv.gz',  compression='gzip',  nrows=100)

In [5]:
df.shape

(449063, 20)

In [ ]:
# check column names and dtypes
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

In [ ]:
# reload db data without chunks
df = pd.read_csv('green_tripdata_2019-09.csv.gz'
                    , compression='gzip'
                    , low_memory=False
            )

In [ ]:
# reformat to datetime from str
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [6]:
df.head(2)

shape: (2, 20)
┌──────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ VendorID ┆ lpep_pick ┆ lpep_drop ┆ store_and ┆ … ┆ total_amo ┆ payment_t ┆ trip_type ┆ congestio │
│ ---      ┆ up_dateti ┆ off_datet ┆ _fwd_flag ┆   ┆ unt       ┆ ype       ┆ ---       ┆ n_surchar │
│ i64      ┆ me        ┆ ime       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ i64       ┆ ge        │
│          ┆ ---       ┆ ---       ┆ str       ┆   ┆ f64       ┆ i64       ┆           ┆ ---       │
│          ┆ datetime[ ┆ datetime[ ┆           ┆   ┆           ┆           ┆           ┆ f64       │
│          ┆ μs]       ┆ μs]       ┆           ┆   ┆           ┆           ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2        ┆ 2019-09-0 ┆ 2019-09-0 ┆ N         ┆ … ┆ 14.16     ┆ 1         ┆ 1         ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:10:53  ┆ 00:23:46  ┆           ┆   ┆           ┆           ┆           ┆           │
│ 2        ┆ 2019-09-0 ┆ 2019-09-0 ┆ N         ┆ … ┆ 13.3      ┆ 2         ┆ 1         ┆ 0.0       │
│          ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆           ┆           │
│          ┆ 00:31:22  ┆ 00:44:37  ┆           ┆   ┆           ┆           ┆           ┆           │
└──────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [ ]:
# drop table and reset db schema
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

In [ ]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

In [20]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema'
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (3, 8)
┌────────────┬────────────┬────────────┬────────────┬───────────┬──────────┬───────────┬───────────┐
│ schemaname ┆ tablename  ┆ tableowner ┆ tablespace ┆ hasindexe ┆ hasrules ┆ hastrigge ┆ rowsecuri │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ s         ┆ ---      ┆ rs        ┆ ty        │
│ str        ┆ str        ┆ str        ┆ str        ┆ ---       ┆ bool     ┆ ---       ┆ ---       │
│            ┆            ┆            ┆            ┆ bool      ┆          ┆ bool      ┆ bool      │
╞════════════╪════════════╪════════════╪════════════╪═══════════╪══════════╪═══════════╪═══════════╡
│ public     ┆ yellow_tax ┆ root       ┆ null       ┆ true      ┆ false    ┆ false     ┆ false     │
│            ┆ i_trips    ┆            ┆            ┆           ┆          ┆           ┆           │
│ public     ┆ zones      ┆ root       ┆ null       ┆ true      ┆ false    ┆ false     ┆ false     │
│ public     ┆ green_taxi ┆ root       ┆ null       ┆ false     ┆ false    ┆ false     ┆ false     │
│            ┆ _data      ┆            ┆            ┆           ┆          ┆           ┆           │
└────────────┴────────────┴────────────┴────────────┴───────────┴──────────┴───────────┴───────────┘

In [9]:
query = """
SELECT COUNT(*) 
FROM green_taxi_data
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (1, 1)
┌────────┐
│ count  │
│ ---    │
│ i64    │
╞════════╡
│ 449063 │
└────────┘

## Question 3. Count records 

### Answer 3 `15612`

SELECT
    CAST(lpep_dropoff_datetime AS DATE) as "day",
    COUNT(1) as "count",
FROM
    green_taxi_data
WHERE
    lpep_dropoff_datetime is '2019-09-18'


<!-- # GROUP BY
#     CAST(lpep_dropoff_datetime AS DATE)
# ORDER BY "count" DESC;
# SELECT COUNT(*) FROM green_taxi_data
# SELECT * FROM green_taxi_data LIMIT 10 -->

SELECT lpep_pickup_datetime::date, COUNT(*) as count FROM green_taxi_data
-- WHERE lpep_pickup_datetime::date = '2019-09-18'
-- AND lpep_dropoff_datetime::date = '2019-09-18'
GROUP BY lpep_pickup_datetime::date
ORDER BY count desc;

In [11]:
query = """
SELECT 
    lpep_pickup_datetime::date as "Date", 
    COUNT(*) as count 
FROM green_taxi_data
WHERE 
    lpep_pickup_datetime::date = '2019-09-18'
    AND lpep_dropoff_datetime::date = '2019-09-18'
GROUP BY 
    lpep_pickup_datetime::date
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (1, 2)
┌────────────┬───────┐
│ Date       ┆ count │
│ ---        ┆ ---   │
│ date       ┆ i64   │
╞════════════╪═══════╡
│ 2019-09-18 ┆ 15612 │
└────────────┴───────┘

How many taxi trips were totally made on September 18th 2019?

Tip: started and finished on 2019-09-18. 

Remember that `lpep_pickup_datetime` and `lpep_dropoff_datetime` columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- 15612
- 15859
- 89009

## Question 4. Largest trip for each day

### Answer 4 `2019-09-26`

In [19]:
query = """
SELECT 
    lpep_pickup_datetime::date as pickup_day, 
    -- COUNT(*) as count,
    MAX(trip_distance) as max_trip_distance
FROM green_taxi_data
GROUP BY pickup_day
ORDER BY max_trip_distance DESC
LIMIT 4
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (4, 2)
┌────────────┬───────────────────┐
│ pickup_day ┆ max_trip_distance │
│ ---        ┆ ---               │
│ date       ┆ f64               │
╞════════════╪═══════════════════╡
│ 2019-09-26 ┆ 341.64            │
│ 2019-09-21 ┆ 135.53            │
│ 2019-09-16 ┆ 114.3             │
│ 2019-09-28 ┆ 89.64             │
└────────────┴───────────────────┘

Which was the pick up day with the largest trip distance
Use the pick up time for your calculations.

- 2019-09-18
- 2019-09-16
- 2019-09-26
- 2019-09-21

## Question 5. The number of passengers

### Answer 5 `"Brooklyn" "Manhattan" "Queens"`

In [12]:
query = """
SELECT 
    date(g.lpep_pickup_datetime) AS pickup_day, 
    SUM(g.total_amount) AS sum_total_passengers,
    zpu."Borough" AS "Borough"
FROM
    green_taxi_data g
JOIN zones zpu
    ON g."PULocationID" = zpu."LocationID"
GROUP BY 1,3
HAVING 
    SUM(g.total_amount) > 50000
    AND date(g.lpep_pickup_datetime) = '2019-09-18'
ORDER BY SUM(g.total_amount) DESC

"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (3, 3)
┌────────────┬──────────────────────┬───────────┐
│ pickup_day ┆ sum_total_passengers ┆ Borough   │
│ ---        ┆ ---                  ┆ ---       │
│ date       ┆ f64                  ┆ str       │
╞════════════╪══════════════════════╪═══════════╡
│ 2019-09-18 ┆ 96333.24             ┆ Brooklyn  │
│ 2019-09-18 ┆ 92271.3              ┆ Manhattan │
│ 2019-09-18 ┆ 78671.71             ┆ Queens    │
└────────────┴──────────────────────┴───────────┘

Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?
 
- "Brooklyn" "Manhattan" "Queens"
- "Bronx" "Brooklyn" "Manhattan"
- "Bronx" "Manhattan" "Queens" 
- "Brooklyn" "Queens" "Staten Island"

## Question 6. Largest tip

### Answer 6 ` `

In [17]:
query = """
SELECT COUNT(*) FROM zones
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (1, 1)
┌───────┐
│ count │
│ ---   │
│ i64   │
╞═══════╡
│ 265   │
└───────┘

In [16]:
query = """
SELECT * FROM zones
LIMIT 5
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (5, 5)
┌───────┬────────────┬───────────────┬─────────────────────────┬──────────────┐
│ index ┆ LocationID ┆ Borough       ┆ Zone                    ┆ service_zone │
│ ---   ┆ ---        ┆ ---           ┆ ---                     ┆ ---          │
│ i64   ┆ i64        ┆ str           ┆ str                     ┆ str          │
╞═══════╪════════════╪═══════════════╪═════════════════════════╪══════════════╡
│ 0     ┆ 1          ┆ EWR           ┆ Newark Airport          ┆ EWR          │
│ 1     ┆ 2          ┆ Queens        ┆ Jamaica Bay             ┆ Boro Zone    │
│ 2     ┆ 3          ┆ Bronx         ┆ Allerton/Pelham Gardens ┆ Boro Zone    │
│ 3     ┆ 4          ┆ Manhattan     ┆ Alphabet City           ┆ Yellow Zone  │
│ 4     ┆ 5          ┆ Staten Island ┆ Arden Heights           ┆ Boro Zone    │
└───────┴────────────┴───────────────┴─────────────────────────┴──────────────┘

In [15]:
query = """
SELECT 
    date(g.lpep_pickup_datetime) AS pickup_day,
    MAX(tip_amount) AS "max_tip_amount",
    zpu."Zone" AS "pickup_zone",
    zdo."Zone" AS "dropoff_zone"
FROM
    green_taxi_data g
JOIN zones zpu
    ON g."PULocationID" = zpu."LocationID"
JOIN zones zdo
    ON g."DOLocationID" = zdo."LocationID"
GROUP BY
    date(g.lpep_pickup_datetime), zpu."Zone" , zdo."Zone"
HAVING 
    zpu."Zone" = 'Astoria'
ORDER BY
    "max_tip_amount" DESC
LIMIT 4
"""

pl.read_database_uri(query=query, uri=conn_string)

shape: (4, 4)
┌────────────┬────────────────┬─────────────┬──────────────┐
│ pickup_day ┆ max_tip_amount ┆ pickup_zone ┆ dropoff_zone │
│ ---        ┆ ---            ┆ ---         ┆ ---          │
│ date       ┆ f64            ┆ str         ┆ str          │
╞════════════╪════════════════╪═════════════╪══════════════╡
│ 2019-09-08 ┆ 62.31          ┆ Astoria     ┆ JFK Airport  │
│ 2019-09-15 ┆ 30.0           ┆ Astoria     ┆ Woodside     │
│ 2019-09-25 ┆ 28.0           ┆ Astoria     ┆ Kips Bay     │
│ 2019-09-03 ┆ 25.0           ┆ Astoria     ┆ NV           │
└────────────┴────────────────┴─────────────┴──────────────┘

For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip?
We want the name of the zone, not the id.

Note: it's not a typo, it's `tip` , not `trip`

- Central Park
- Jamaica
- JFK Airport
- Long Island City/Queens Plaza

## Terraform

In this section homework we'll prepare the environment by creating resources in GCP with Terraform.

In your VM on GCP/Laptop/GitHub Codespace install Terraform. 
Copy the files from the course repo
[here](https://github.com/DataTalksClub/data-engineering-zoomcamp/tree/main/01-docker-terraform/1_terraform_gcp/terraform) to your VM/Laptop/GitHub Codespace.

Modify the files as necessary to create a GCP Bucket and Big Query Dataset.

## Question 7. Creating Resources

### Answer 7 ` `

After updating the main.tf and variable.tf files run:

```
terraform apply
```

Paste the output of this command into the homework submission form.