```bash
URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz"                                                                                                                                  ─╯

python ingest_data.py \
  --user=root \
  --password=root \
  --host=localhost \
  --port=5432 \
  --db=ny_taxi \
  --table_name=green_taxi_trips \
  --url=${URL}|
```

```ipython

import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

```

In [ ]:
# Q3
SELECT count(distinct index) FROM green_taxi_trips 
	WHERE trip_distance <= 1.0 
		AND lpep_pickup_datetime >= '2019-10-01 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'
		AND lpep_dropoff_datetime >= '2019-10-01 00:00:00' AND lpep_dropoff_datetime < '2019-11-01 00:00:00';

SELECT count(distinct index) FROM green_taxi_trips 
	WHERE trip_distance > 1.0 AND trip_distance <= 3.0 
		AND lpep_pickup_datetime >= '2019-10-01 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'
		AND lpep_dropoff_datetime >= '2019-10-01 00:00:00' AND lpep_dropoff_datetime < '2019-11-01 00:00:00';


SELECT count(distinct index) FROM green_taxi_trips 
	WHERE trip_distance > 3.0 AND trip_distance <= 7.0 
		AND lpep_pickup_datetime >= '2019-10-01 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'
		AND lpep_dropoff_datetime >= '2019-10-01 00:00:00' AND lpep_dropoff_datetime < '2019-11-01 00:00:00';


SELECT count(distinct index) FROM green_taxi_trips 
	WHERE trip_distance > 7.0 AND trip_distance <= 10.0 
		AND lpep_pickup_datetime >= '2019-10-01 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'
		AND lpep_dropoff_datetime >= '2019-10-01 00:00:00' AND lpep_dropoff_datetime < '2019-11-01 00:00:00';

SELECT count(distinct index) FROM green_taxi_trips 
	WHERE trip_distance > 10.0
		AND lpep_pickup_datetime >= '2019-10-01 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'
		AND lpep_dropoff_datetime >= '2019-10-01 00:00:00' AND lpep_dropoff_datetime < '2019-11-01 00:00:00';

In [ ]:
# Q4
SELECT max(trip_distance) FROM green_taxi_trips 
	WHERE lpep_pickup_datetime >= '2019-10-11 00:00:00' AND lpep_pickup_datetime < '2019-10-12 00:00:00'; -- 95.78

SELECT max(trip_distance) FROM green_taxi_trips 
	WHERE lpep_pickup_datetime >= '2019-10-24 00:00:00' AND lpep_pickup_datetime < '2019-10-25 00:00:00'; -- 90.75

SELECT max(trip_distance) FROM green_taxi_trips 
	WHERE lpep_pickup_datetime >= '2019-10-26 00:00:00' AND lpep_pickup_datetime < '2019-10-27 00:00:00'; --91.56

SELECT max(trip_distance) FROM green_taxi_trips 
	WHERE lpep_pickup_datetime >= '2019-10-31 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'; -- 515.89

In [ ]:
# Q5
SELECT C.cnt, Z."Zone" FROM (
	SELECT "PULocationID", SUM(total_amount) AS cnt FROM green_taxi_trips 
		WHERE lpep_pickup_datetime >= '2019-10-18 00:00:00' AND lpep_pickup_datetime < '2019-10-19 00:00:00' 
	GROUP BY "PULocationID"
) AS C
LEFT JOIN
zones AS Z
ON C."PULocationID" = Z."LocationID"
ORDER BY C.cnt DESC LIMIT 3;

In [ ]:
# Q6
SELECT MAX(tip_amount) AS max_tip, D."Zone"  FROM 
	green_taxi_trips AS G
	LEFT JOIN
		zones AS P
	ON G."PULocationID" = P."LocationID"
	LEFT JOIN
		zones AS D
	ON G."DOLocationID" = D."LocationID"
WHERE P."Zone" = 'East Harlem North'
	AND lpep_pickup_datetime >= '2019-10-01 00:00:00' AND lpep_pickup_datetime < '2019-11-01 00:00:00'
GROUP BY D."Zone"
ORDER BY max_tip DESC LIMIT 1;