In [7]:
import pandas as pd

In [8]:
pd.__version__

'2.0.3'

In [9]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

# Display the DataFrame
print(df)

    VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0          2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1          2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2          2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3          2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4          2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N
..       ...                  ...                   ...                ...
95         2  2019-09-01 00:40:55   2019-09-01 00:48:35                  N
96         2  2019-09-01 00:13:52   2019-09-01 00:21:47                  N
97         2  2019-09-01 00:37:24   2019-09-01 01:02:31                  N
98         2  2019-09-01 00:22:15   2019-09-01 00:29:52                  N
99         2  2019-09-01 00:11:53   2019-09-01 00:30:31                  N

    RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0            1            65           189                5           2.00
1            1            97           225                5           3.20
2            1            37            61                5           2.99
3            1           145           112                1           1.73
4            1           112           198                1           3.42
..         ...           ...           ...              ...            ...
95           1            95           160                1           2.24
96           1            75           151                1           2.04
97           1            41           182                1           7.77
98           1            74           260                1           4.99
99           1           255           228                1           7.54

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0          10.5    0.5      0.5        2.36          0.00        NaN
1          12.0    0.5      0.5        0.00          0.00        NaN
2          12.0    0.5      0.5        0.00          0.00        NaN
3           7.5    0.5      0.5        1.50          0.00        NaN
4          14.0    0.5      0.5        3.06          0.00        NaN
..          ...    ...      ...         ...           ...        ...
95          9.0    0.5      0.5        0.00          0.00        NaN
96          8.5    0.5      0.5        1.96          0.00        NaN
97         26.0    0.5      0.5        5.46          0.00        NaN
98         15.0    0.5      0.5        2.58          6.12        NaN
99         22.0    0.5      0.5        0.00          0.00        NaN

    improvement_surcharge  total_amount  payment_type  trip_type  \
0                     0.3         14.16             1          1
1                     0.3         13.30             2          1
2                     0.3         13.30             2          1
3                     0.3         10.30             1          1
4                     0.3         18.36             1          1
..                    ...           ...           ...        ...
95                    0.3         10.30             2          1
96                    0.3         11.76             1          1
97                    0.3         32.76             1          1
98                    0.3         25.00             1          1
99                    0.3         23.30             2          1

    congestion_surcharge
0                    0.0
1                    0.0
2                    0.0
3                    0.0
4                    0.0
..                   ...
95                   0.0
96                   0.0
97                   0.0
98                   0.0
99                   0.0

[100 rows x 20 columns]

In [10]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [11]:
print(df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [15]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
# print(df.tpep_pickup_datetime)
# print(df.tpep_pickup_datetime)

In [16]:
# Installing sqlAlchemy and connect to Postgres
from sqlalchemy import create_engine

In [17]:
## type of db: user:password@localhost:port/dbName

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-09', con=engine))

CREATE TABLE "green_tripdata_2019-09" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [20]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [21]:
df = next(df_iter)

In [22]:
len(df)

100000

In [18]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-09-08 21:34:31,2019-09-08 21:42:44,N,1,74,151,1,2.12,8.5,0.5,0.5,2.45,0.0,NaN,0.3,12.25,1,1,0.0
99996,2,2019-09-08 21:06:54,2019-09-08 21:12:38,N,1,130,28,1,0.83,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
99997,2,2019-09-08 21:22:10,2019-09-08 21:29:33,N,1,130,10,1,2.56,9.5,0.5,0.5,2.00,0.0,NaN,0.3,12.80,1,1,0.0
99998,2,2019-09-08 21:33:42,2019-09-08 21:33:48,N,5,92,92,1,0.13,22.0,0.0,0.0,0.00,0.0,NaN,0.0,22.00,1,2,0.0
99999,2,2019-09-08 21:29:16,2019-09-08 21:36:45,N,1,7,7,1,1.09,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,0.0

In [24]:
df.head

<bound method NDFrame.head of        VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0             2  2019-09-01 00:10:53   2019-09-01 00:23:46                  N
1             2  2019-09-01 00:31:22   2019-09-01 00:44:37                  N
2             2  2019-09-01 00:50:24   2019-09-01 01:03:20                  N
3             2  2019-09-01 00:27:06   2019-09-01 00:33:22                  N
4             2  2019-09-01 00:43:23   2019-09-01 00:59:54                  N
...         ...                  ...                   ...                ...
99995         2  2019-09-08 21:34:31   2019-09-08 21:42:44                  N
99996         2  2019-09-08 21:06:54   2019-09-08 21:12:38                  N
99997         2  2019-09-08 21:22:10   2019-09-08 21:29:33                  N
99998         2  2019-09-08 21:33:42   2019-09-08 21:33:48                  N
99999         2  2019-09-08 21:29:16   2019-09-08 21:36:45                  N

       RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0               1            65           189                5           2.00
1               1            97           225                5           3.20
2               1            37            61                5           2.99
3               1           145           112                1           1.73
4               1           112           198                1           3.42
...           ...           ...           ...              ...            ...
99995           1            74           151                1           2.12
99996           1           130            28                1           0.83
99997           1           130            10                1           2.56
99998           5            92            92                1           0.13
99999           1             7             7                1           1.09

       fare_amount  extra  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0             10.5    0.5      0.5        2.36           0.0        NaN
1             12.0    0.5      0.5        0.00           0.0        NaN
2             12.0    0.5      0.5        0.00           0.0        NaN
3              7.5    0.5      0.5        1.50           0.0        NaN
4             14.0    0.5      0.5        3.06           0.0        NaN
...            ...    ...      ...         ...           ...        ...
99995          8.5    0.5      0.5        2.45           0.0        NaN
99996          5.5    0.5      0.5        0.00           0.0        NaN
99997          9.5    0.5      0.5        2.00           0.0        NaN
99998         22.0    0.0      0.0        0.00           0.0        NaN
99999          6.5    0.5      0.5        0.00           0.0        NaN

       improvement_surcharge  total_amount  payment_type  trip_type  \
0                        0.3         14.16             1          1
1                        0.3         13.30             2          1
2                        0.3         13.30             2          1
3                        0.3         10.30             1          1
4                        0.3         18.36             1          1
...                      ...           ...           ...        ...
99995                    0.3         12.25             1          1
99996                    0.3          6.80             2          1
99997                    0.3         12.80             1          1
99998                    0.0         22.00             1          2
99999                    0.3          7.80             2          1

       congestion_surcharge
0                       0.0
1                       0.0
2                       0.0
3                       0.0
4                       0.0
...                     ...
99995                   0.0
99996                   0.0
99997                   0.0
99998                   0.0
99999                   0.0

[100000 rows x 20 columns]>

In [25]:
df.head(n=0).to_sql(name='green_tripdata_2019-09', con=engine, if_exists='replace')

0

In [26]:
%time df.to_sql(name='green_tripdata_2019-09', con=engine, if_exists='append')

CPU times: user 1.76 s, sys: 75.3 ms, total: 1.83 s
Wall time: 3.65 s

1000

In [27]:
from time import time

In [29]:
# while True: 
#     t_start = time()

#     df = next(df_iter)

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk, took %.3f second' % (t_end - t_start))


while True:
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        # No more data, break out of the loop
        break

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='green_tripdata_2019-09', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 3.941 second

/var/folders/ck/v_5j0w910f54w4wv03n8zc2m0000gn/T/ipykernel_11075/473909585.py:20: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 3.561 second
inserted another chunk, took 1.493 second