In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

# Display the DataFrame
print(df)

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [4]:
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [5]:
print(df.columns)

Index(['LocationID', 'Borough', 'Zone', 'service_zone'], dtype='object')

In [15]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
# print(df.tpep_pickup_datetime)
# print(df.tpep_pickup_datetime)

In [6]:
# Installing sqlAlchemy and connect to Postgres
from sqlalchemy import create_engine

In [7]:
## type of db: user:password@localhost:port/dbName

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df, name='taxi+_zone_lookup', con=engine))

CREATE TABLE "taxi+_zone_lookup" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
df_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [11]:
df = next(df_iter)

In [12]:
len(df)

265

In [18]:
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [14]:
df.head

<bound method NDFrame.head of      LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]>

In [15]:
df.head(n=0).to_sql(name='taxi+_zone_lookup', con=engine, if_exists='replace')

0

In [16]:
%time df.to_sql(name='taxi+_zone_lookup', con=engine, if_exists='append')

CPU times: user 12.4 ms, sys: 4.02 ms, total: 16.5 ms
Wall time: 41.1 ms

265

In [17]:
from time import time

In [18]:
# while True: 
#     t_start = time()

#     df = next(df_iter)

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
#     df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

#     t_end = time()

#     print('inserted another chunk, took %.3f second' % (t_end - t_start))


while True:
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        # No more data, break out of the loop
        break

#     df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
#     df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='taxi+_zone_lookup', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))