In [34]:
import pandas as pd

In [35]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/ademoyeoluwanifesimi/opt/anaconda3/lib/python3.9/site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [36]:
pd.__version__

'2.2.2'

In [37]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

df = pd.read_csv('green_tripdata_2019-10.csv')

/var/folders/m1/28y6pyss2vn7gcyfdrgj6x3c0000gn/T/ipykernel_38933/1843839063.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [38]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.00,0.50,0.5,0.00,0.00,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.00,3.25,0.5,0.00,0.00,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.50,0.50,0.5,0.00,0.00,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.50,0.50,0.5,0.00,0.00,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.00,0.50,0.5,2.26,0.00,NaN,0.3,13.56,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476381,NaN,2019-10-31 23:30:00,2019-11-01 00:00:00,NaN,NaN,65,102,NaN,7.04,29.57,2.75,0.5,0.00,0.00,NaN,0.0,32.82,NaN,NaN,NaN
476382,NaN,2019-10-31 23:03:00,2019-10-31 23:24:00,NaN,NaN,129,136,NaN,0.00,39.83,2.75,0.5,0.00,6.12,NaN,0.0,49.20,NaN,NaN,NaN
476383,NaN,2019-10-31 23:02:00,2019-10-31 23:23:00,NaN,NaN,61,222,NaN,3.90,23.11,2.75,0.5,0.00,0.00,NaN,0.0,26.36,NaN,NaN,NaN
476384,NaN,2019-10-31 23:42:00,2019-10-31 23:56:00,NaN,NaN,76,39,NaN,3.08,15.23,2.75,0.5,0.00,0.00,NaN,0.0,18.48,NaN,NaN,NaN
476385,NaN,2019-10-31 23:23:00,2019-10-31 23:56:00,NaN,NaN,56,215,NaN,6.84,36.12,2.75,0.5,0.00,0.00,NaN,0.3,39.67,NaN,NaN,NaN

In [39]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime).fillna(pd.Timestamp.min)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime).fillna(pd.Timestamp.min)

In [40]:
from sqlalchemy import create_engine

In [41]:
engine = create_engine('postgresql://Postgres:root@localhost:5431/ny_taxi')

In [42]:
engine.connect()

In [43]:
df.rename(columns={"VendorID": 'VendorID'}, inplace=True)

In [44]:
len(df)

476386

In [45]:
print(pd.io.sql.get_schema(df,name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [46]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv',iterator=True, chunksize=100000,low_memory=False)

In [47]:
df = next(df_iter)

In [48]:
len(df)

100000

In [49]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime).fillna(pd.Timestamp.min)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime).fillna(pd.Timestamp.min)

In [50]:
df.to_sql(name='green_taxi_data',con=engine,if_exists='replace')

1000

In [51]:
len(df)

100000

In [52]:
##--To input the columns into the table 
df.head(n=0).to_sql(name='green_taxi_data',con=engine,if_exists='replace')

0

In [53]:
%time df.to_sql(name='green_taxi_data',con=engine,if_exists='replace')

CPU times: user 3.36 s, sys: 191 ms, total: 3.55 s
Wall time: 6.12 s

1000

In [54]:
from time import time

In [55]:
 while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime).fillna(pd.Timestamp.min)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime).fillna(pd.Timestamp.min)
    
    df.to_sql(name='green_taxi_data',con=engine,if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk ...., took %.3f second' % (t_end - t_start))

inserted another chunk ...., took 6.096 second
inserted another chunk ...., took 5.776 second
inserted another chunk ...., took 5.881 second
inserted another chunk ...., took 4.418 second

StopIteration:

In [57]:
len(df)

76386

In [ ]:
df.head()

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-18 22:06:46--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250118T210647Z&X-Amz-Expires=300&X-Amz-Signature=1d0a05ca21a1b905da7dfad9dfd7b450cbf280d63c92da6ddf56d6ed03d70fbc&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-18 22:06:46--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250118%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250118T210647Z&X-Amz-Expires=300&X-Amz-Signature=1d0a05ca21a1b905da7dfad9dfd7b450cbf280d63c92da6ddf56d6ed03d70fbc&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi_zone_lookup.csv.1'

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.007s

2025-01-18 22:06:48 (1.70 MB/s) - 'taxi_zone_lookup.csv.1' saved [12322/12322]

In [ ]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
print(pd.io.sql.get_schema(df_zones,name='zones',con=engine))