In [2]:
import pandas as pd

In [4]:
pd.__version__

'1.5.3'

In [13]:
df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
engine.connect()

In [26]:
print(pd.io.sql.get_schema(df, name ='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [40]:
df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator = True, chunksize=100000)

In [41]:
df = next(df_iter)

In [42]:
len(df)

100000

In [43]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [46]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [47]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.85 s, sys: 105 ms, total: 2.95 s
Wall time: 7.35 s

1000

In [49]:
from time import time

In [51]:
while True:
    t_start = time() # Used to capture the runtime
    
    df = next(df_iter) # Gets the next chunk, when there are none left this will return false
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time() #used to get the end time
    t_total = round(t_end - t_start,2) #calculated the total time taken
    
    print(f'Inserted Another Chunck, the total time was: {t_total} seconds')

Inserted Another Chunck, the total time was: 6.361782073974609 seconds
Inserted Another Chunck, the total time was: 6.6341612339019775 seconds
Inserted Another Chunck, the total time was: 6.646438121795654 seconds
Inserted Another Chunck, the total time was: 6.51669979095459 seconds
Inserted Another Chunck, the total time was: 6.519662857055664 seconds
Inserted Another Chunck, the total time was: 6.87767767906189 seconds
Inserted Another Chunck, the total time was: 6.734499931335449 seconds
Inserted Another Chunck, the total time was: 6.808506011962891 seconds
Inserted Another Chunck, the total time was: 6.717586040496826 seconds
Inserted Another Chunck, the total time was: 7.1402058601379395 seconds

/var/folders/fm/llg26f1s1wjdgrnh_hg4r9zc0000gn/T/ipykernel_82464/4279564942.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter) # Gets the next chunk, when there are none left this will return false

Inserted Another Chunck, the total time was: 6.483461141586304 seconds
Inserted Another Chunck, the total time was: 4.420033931732178 seconds

StopIteration: